<div class={{class-prefixer _ownSuffix classNS suffix="__container"}}>
  <div class={{class-prefixer _ownSuffix classNS suffix="__wheel"}} style={{wheelStyle}}>
    <div class={{class-prefixer _ownSuffix classNS suffix="__wheel__marker"}}></div>
  </div>
  <div class={{class-prefixer _ownSuffix classNS suffix="__value"}}>
    {{round-down value 2}}
  </div>
  <div class={{class-prefixer _ownSuffix classNS suffix="__label"}}>
    {{label}}
  </div>
</div>
